@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Space+Grotesk:wght@300..700&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: "Playfair Display", serif;
}
a{
    outline:none;
    text-decoration: none;
    color:black;
} 
.container{
    width:100%;
    max-width:1440px;
    margin:0 auto;
}
header{
    width:100%;
    padding:0 100px;
    @media screen and (max-width:992px){
        padding:0 50px;
    }
    @media screen and (max-width:767px){
        padding:0 20px;
    }
    .container{
        height:80px;
        display:flex;
        flex-wrap: wrap;
        align-items:center;
        justify-content: space-between;
        nav{
            display: flex;
            gap:15px;
            @media screen and (max-width:992px) {
                display: none;
            }
            a{
                font-size: 18px;
                font-weight: 600;
                &:hover{
                    color:blueviolet;
                } 
            }
        }
        svg{
            display:none;
            @media screen and (max-width:992px){
                display: block;
            }
        }
    }
}
.head{
    background-image: url(./images/head.jpg) ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height:691px;
    .container{
        .right{
            display: flex;
            flex-direction: column;
            gap:20px;
            width:50%;
            padding:10px;
            h1{
                color:#fff;
                text-transform: uppercase;
                font-size:clamp(2rem, 5vw, 6rem);
                letter-spacing: 0;
                line-height: 1;
                text-shadow: 0 0 8px rgba(0, 0, 0, 1);
                font-weight: 400;
                font-family: "Playfair Display", serif;
                margin: 314px 345px 0 0;
            }
            p{
                color:#fff;
                font-size: 1.125rem;
                font-weight: 400;
                a{
                    color:#fe7606;
                }
            }
            .aa{
                color:#fe7606;
                border-bottom:2px solid #fe7606;
                font-weight: 700;
                letter-spacing: 2px;
                text-transform: uppercase;
                margin: 20px auto 0 0;
                padding-bottom:x;
            }
        }
    }
}
.main-section{
    padding:0 100px;
    position:relative;
    @media screen and (max-width:767px){
        padding:0 20px;
    }
    .yellow{
        width:67%;
        max-width:1000px;
        height:222px;
        background-color:#f1c50e ;
        position:absolute;
        left:0;
        top:0;
        z-index:-1;
        @media screen and (max-width:767px){
            width:100%;
            height:325px;
            top:325px;
        }
    }
    .container{
        height:800px;
        display: flex;
        flex-wrap: wrap;
        align-items: start;
        padding-bottom:60px;
        .main{
            display:flex;
            flex-wrap:wrap;
            flex-direction: row;
            align-items: center;
            width:70%;
            @media screen and (max-width:767px){
                width:100%;
            }
            
            .food-bg{
                width:50%;
                height:525px;
                background-image: url(./images/food.jpg);
                background-position: center;
                background-size:cover; 
                @media screen and (max-width:767px){
                width:100%;
                padding:0;
                }
            }
            .content{
                width:50%;
                padding:30px;
                display: flex;
                flex-direction: column;
                gap:50px;
                @media screen and (max-width:767px){
                width:100%;
                }
                /* margin-top:50px; */
                h2{
                    font-size: 6rem;
                    font-weight: 900;
                }
                p{
                    /* width:321px; */
                    line-height: 2;
                    font-weight: 700;
                    font-size: 1.125rem;
                }
                a{
                    color:#fe7606;
                }
                
            }
            .span-black{
                    width:250px;
                    height:64px;
                    background-color: black;
                    margin-left:calc(50% + 30px);
                    @media screen and (max-width:767px){
                        margin-left:30px;;
                        margin-bottom:30px;
                    }
                }
        }
        .menu-image{
            width:30%;
            /* padding:30px; */
            position: relative;
            align-self: flex-end;
            @media screen and (max-width:767px){
                width:100%;
            }
            .image-span{
                width:100%;
                height:250px;
                background-color: #fe7606;
                position: absolute;
                top:50px;
                right:-100px;
                z-index:-1;
                @media screen and (max-width:767px) {
                    right:-20px;
                }
            }
            .coffe-bg{
                width:100%;
                height:525px;
                background-image: url(./images/coffe.jpg);
                background-position: center;
                background-size: cover;
                
            }
           
            
        
            

        }
    }
}
.learn-cooking{
    background-image: url(./images/OG9KN00j-min.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @media screen and (max-width:992px) {
        margin-top:150px;
    }
    @media screen and (max-width:767px) {
        margin-top:1000px;
    }
    .container{
        padding:100px 0;
        display: flex;
        flex-wrap:wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap:20px;
        .content{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap:20px;
            h1{
                font-size: clamp(1rem, 5vw, 4.5rem);
                margin: 60px auto 0;
                color: #fe7606;
                line-height: 1.1;
                font-weight: 400;
            } 
            p{
                font-size:1.125rem;
                width: 646px;
                font-style: italic;
                margin: 20px auto 0;
                color:rgb(255, 251, 251);
                text-align: center;
                @media screen and (max-width:767px) {
                    font-size: 20px;
                    width:330px;
                }
            }  
            span{
                font-size: 1rem;
                text-transform: uppercase;
                color:white;
            }
            a{
                color: #e96a01;
            }
        }
        .cards{
            width:80%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap:2%;
            @media screen and (max-width:767px) {
                width:100%;
                padding:0 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap:20px;
            }
            .son{
                display: flex;
                flex-direction: column;
                gap:18px;
                width:calc(96%/3);
                padding:30px;
                @media screen and (max-width:767px) {
                    width:80%;
                }
                h2{
                    font-size: 8rem;
                    line-height: 1;
                    font-weight: 400;
                }
                h3{
                    font-size: 2.25rem;
                    margin: 18px 0 0;
                }
                p{
                    font-size: 1.125rem;
                }
                a{
                    color:#fe7606;
                    border-bottom:2px solid #fe7606;
                    font-weight: 700;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    margin: 20px auto 0 0;
                    padding-bottom:x;
                }
            }
        }
    }

}
.twocolor{
    width:100%;
    height:615px;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    
    .white{
        
        width:50%;
        background-color:white;
        padding-top:60px;
        display: flex;
        flex-direction: column;
        align-content: flex-end;
        flex-wrap: wrap;
        @media screen and (max-width:767px){
            position: relative;
        }
        
        h2{
            font-weight: 700;
            font-size: clamp(3rem, 5vw, 4.5rem);;
            margin: 0 auto;
            padding-bottom:30px;
            
        }
        p{
            width:311.5px;
            font-size: 1.125rem;
            line-height: 1.6;
            text-align: center;
            padding-right: 20px;
            @media screen and (max-width:767px){
                position: absolute;
                top: 200px;
                left: 15px;
                z-index:1;
            }
        }
    }
    .orange{
        width:50%;
        text-align: left;
        background-color:#f1c50e;
        padding-top:60px;
        padding-left: 20px;
        @media screen and (max-width:767px){
            position: relative;
        }
        h2{
            font-weight: 700;
            font-size: clamp(3rem, 5vw, 4.5rem);
            margin: 0 auto;
            padding-bottom:30px;
        }
        p{
            width:311.5px;
            font-size: 1.125rem;
            text-align: center;
            line-height: 1.6;
            @media screen and (max-width:767px){
                position: absolute;
                top: 374px;
                left: -170px;
            }
            
        }
    }

}
.imgs{
    width:100%;
    position:relative;

    .parent{
        width:60%;
        padding-bottom:40px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap:10px;
        position:absolute;
        top: -250px;
        left: 300px;
        @media screen and (max-width:992px){
            width: 90%;
            left:20px;
            top:0px;
        }
        img{
            width:calc(100% /3 - 10px);
            height:385px;
            @media screen and (max-width:992px){
            width: 48%;
        }
            @media screen and (max-width:767px){
            width: 100%;
        }

        }
    }
}
.burger{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top:200px;
    height:623px;
    @media screen and (max-width:992px){
        margin-top: 850px;
        }
    @media screen and (max-width:767px){
        margin-top: 1250px;
        }
    img{
        width:40%;
        @media screen and (max-width:767px){
            width:100%;
        }
    }
    .center{
        width:20%;
        color:black;
        background-color: #f1c50e;
        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (max-width:767px){
            width:100%;
        }
        h2{
            font-size: 3rem;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}
.farm{
    position: relative;
    .colororange{
        background-color: #fe7606;
        width:33%;
        height:288px;
        /* margin-top:200px; */
        z-index: -1;
        position: absolute;
        top:-63px;   
    }
    .container{
        width:80%;
        margin-top:200px;
        margin-bottom:40px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap:30px;
        @media screen and (max-width:2660px){
            margin-top:750px;
        }    
        @media screen and (max-width:1920px){
            margin-top:200px;
        }    
        @media screen and (max-width:1440px){
            margin-top:150px;
        }    
        @media screen and (max-width:1024px){
            margin-top:100px;
        }    
        @media screen and (max-width:767px){
            margin-top:779px;
        }
        .farmimg{
            width:calc(65% / 2 - 90px);
            height:333.200px;
            @media screen and (max-width:767px){
                width:100%;
            }
        }
        .text{
            width:calc(35% - 30px);
            padding:30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap:10px;
            @media screen and (max-width:992px){
                padding:0;
            }
            @media screen and (max-width:767px){
                width:100%;
            }
            h2{
                color:#fe7606;
                font-size: 2.25rem;
                line-height: 1.2;
                font-weight: 700;
            }
            p{
                font-size: 1.125rem;
                text-align: left;
            }
            a{
                color:#fe7606;
                border-bottom:2px solid #fe7606;
                font-weight: 700;
                letter-spacing: 2px;
                text-transform: uppercase;
                margin: 20px auto 0 0;
                padding-bottom:x;
            }
        }
    }
}
.last{
    height:774.2px;
    background-image: Url(./images/last.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @media screen and (max-width:1024px){
        height:auto;
    }
    .container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding-left:100px;
        padding-right:100px;
        padding-top: 490px;
        padding-bottom: 30px;
        gap:30px;
        @media screen and (max-width:1024px){
            padding-left:50px;
            padding-right:50px;
        }
        @media screen and (max-width:992px){
            align-items: center;
            justify-content: space-between;
            padding-left:50px;
            padding-right:50px;
        }
        @media screen and (max-width:767px){
            align-items: center;
            justify-content: center;
            padding-left:0;
            padding-right:0;
        }
        .contentlast{
            width:calc(40% - 90px);
            display: flex;
            flex-direction: column;
            gap:20px;
            color:#fff;
            @media screen and (max-width:1024px){
                width:15%;
            }
            @media screen and (max-width:992px){
                width:50%;
            }
            h3{
                font-size: 1.25rem;
                line-height: 1.2;
                text-transform: uppercase;
                letter-spacing: 8px;
                font-weight: 500;
            }
            p{
                font-size: 1.125rem;
                a{
                    color:#fe7606;
                }
            }
            .icons{
                display: flex;
                flex-direction: row;
                gap:10px;
                a{
                    svg{
                        color:#fff;
                    }
                }
            }
        }
        .img{
            width:20%;
            @media screen and (max-width:1024px){
                width:5%;
            }  
            @media screen and (max-width:992px){
                width:50%;
            }  
        }
    }
}
.parent2{
    background-color: black;
    .container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /* gap:100px; */
        padding:100px;
        padding-bottom:30px;
        /* border-bottom: 2px solid #fff; */
        .son{
            color:#fff;
            width:calc(100% / 3);
            padding-bottom:50px;
            @media screen and (max-width:767px){
                width:100%;
            }
            h6{
                font-weight: 400;
                font-size: 1.125rem;
                line-height: 1.2;
            }
        }
        .end{
            width:100%;
            color:#fff;
            background-color: black;
            font-size: 0.875rem;
            margin: 30px 20px 25px;
            text-align: center;
            border-top: 1px solid #fff;
            padding-top:30px;
        }
    }

}
footer{
    width:100%;
    background-color: #333333;
    .container{
        width:100%;
        color:#fff;
        font-size: 0.875rem;
        text-align: center;
        padding:40px;
        a{
            color:#fe7606;
            border-bottom:2px solid #fe7606;
        }
    }
}
